:root{
    --color-h1:#004A28;
    --color-h2:#FFFFFF;
    --color: #1c1c1c;

}
@font-face {
    font-family: Gotham;
    src: url(../assets/fonts/Gotham-Book.otf);
}
@font-face {
    font-family: Bressay;
    src: url(../assets/fonts/Bressay_Trial_It.ttf);
}
.header{
    position: sticky;
    top: 0px;
    z-index: 30;
}
.header-top{
    background: linear-gradient(86.34deg,#063 6.06%,#004125 91.34999999999999%);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    display:flex;
    justify-content: space-between;
    padding: 10px;
}
.header-top__a{
    color: #fff;
    text-decoration: none;
}
.hidden{
    visibility: hidden;
}
body{
    color: #000;
    font-family: Gotham;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    font-size: 1.2rem;
    margin: 0px;
    background-color: var(--color-h2);
    overflow-x: hidden;
}
.header-bot{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    padding: 10px 0px;
}
.header-botbig{
    width: 100%;
    background-color: var(--color-h2);
}

li{
    display: inline-block;
    flex-direction: row;
}

.header-bot__der{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 1 0 200px;
}
.header-bot__logo{
    width: 52px;
    height: 52px;
}

.hola {
    position: relative;
    text-decoration: none;
    transition: color 0.1s; 
    margin-bottom: 2px;
    padding: 8px 8px;
    color: var(--color);
    text-decoration: none;
    font-size: 15px;
}
.hola::before{
    content: '';
    position: absolute;
    left: 2px;
    bottom: 0px;
    width: 0px;
    height: 2px;
    background: #1c1c1c;
    transition: width .3s;
}
.hola:hover::before {
    width: 100%
}
.header-bot__iqz{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-text{
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #cdcac9;
    height: 40px;
    width: 260px;
    border-radius: 20px; 
    padding: 10px;
    padding-left: 45px;
    padding-right: 32px;
}
.input-text:focus,.input-text:active{
    outline: var(--color-h1);
}
.ico{
    padding: 10px;
}
.bandera{
    width: 20px;
    height: 18px;
    padding: 10px;
}
.ico:hover{
    color: var(--color-h1);
}
.h2_1{
    color: #1c1c1c;
    font-size: 24px;
    font-family: 'Gotham Bold', sans-serif;
    letter-spacing: 0;
    line-height: 32px;
    margin: 8px auto 24px;
    text-align: center;
}
.h2_1::after{
    content: '';
    width: 90px;
    height: 2px;
    background: #1c1c1c;
    margin: 8px auto;
    display: block;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.container2{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img_presentation{
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    padding: 0;
    background-image: url(../assets/images/FINAL-timeless-tennis-charm-desktop.jpg);
}


.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.slides {
    display: flex;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.slide {
    display: none;
    flex: 0 0 auto;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease; 
    min-height: 720px;
    max-height: 720px;
    animation: fadeIn 1.5s ease forwards;
}

.slide.active {
    display: block; 
    opacity: 1;
}

.slide img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.controls {
    display: flex;
    justify-content: center;
}

.control {
    height: 8px;
    width: 8px;
    background: #f0efee;
    border: 1px solid #cdcac9;
    cursor: pointer;
    border-radius: 60%;
    padding: 0px;
    margin: 10px 5px 10px 5px;
}

.control.active {
    background-color: #54007C;
}

.boton{
    position:relative;
    display: inline;
    justify-content: center;
    top: -80px;
    z-index: 20;
    text-decoration: none;
    background: #54007c;
    border: none;
    color: #fff;
    cursor: pointer;
    font-family: 'Gotham';
    padding: 11px 35px;
}
.boton:hover{
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,.2),0px 8px 10px 1px rgba(0,0,0,.14),0px 3px 14px 2px rgba(0,0,0,.12)
}
.f{
    display: flex;
    justify-content: center;
    padding: 25px 0px 60px 0px;
    max-width: 1300px;
    margin: 0 auto;  
    gap: 20px;
    flex-wrap: wrap;
}
.xd1{
    background-image: url(../assets/images/homepage-new-in2.png);
    min-height: 560px;
    min-width: 627px;
    background-size: 115%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: background-size 1.0s ease;
}
.xd2{
    background-image: url(../assets/images/homeware2.png);
    min-height: 560px;
    min-width: 627px;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: background-size 1.0s ease;
}
.btt{
    width: 100%;
    padding: 20px 20px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(to right, #82AE98 0%, #82AE98 50%, #f0f0f085 50%, #f0f0f085 100%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.8s ease;
    text-decoration: none;
    color: black;
}

.btt:hover{
    background-position: left;
    color: white;
}
.xd1:hover{
    background-size: 140%;
}
.xd2:hover{
    background-size: 130%;
}

.backonly{
    background-color: #FBFAFA;
    padding-bottom: 100px;
}
.h2_2{
    color: #1c1c1c;
    font-size: 24px;
    font-family: 'Gotham Bold', sans-serif;
    letter-spacing: 0;
    line-height: 32px;
    margin: 8px auto 24px;
    text-align: center;
    padding-top: 30px;
}   
.h2_2::after{
    content: '';
    width: 50px;
    height: 2px;
    background: #1c1c1c;
    margin: 8px auto;
    display: block;
}
.max302{
    width: 302px;
    gap: 20px;
}
.max302:last-child {
    margin-right: 0;
}
.max302_back{
    padding: 20px;
    background-color: white;
}
.max302_back > a{
    font-size: 15px;
    text-decoration: none;
    color: black;
}
.max302_back > p {
    margin: 0px;
    padding-top: 10px;
    font-weight: bold;
}
.s1{
    background-image: url(../assets/images/smart-casual-mens-homepage-final-desktop.jpg);
    min-height: 560px;
    /* min-width: 410px; */
    /* max-height: 660px; */
    /* max-width: 510px; */
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: background-size 1.0s ease;
    margin: 30px 0px;
    flex-shrink: 1;
    flex-grow: 5;
    flex-basis: 50px;
}
.s1:nth-child(2){
    display: flex;
    background-color: #EEECEC;
    background-image: none;
    height: 560px;
    width: 410px;
    flex-direction: column;
    align-items: center;
}
.s1:nth-child(3){
    background-image: url(../assets/images/smart-casual-womens-homepage-desktop.jpg);
}
.s1:hover{
    background-size: 110%;
}
.btt2{
    width: 250px;
    padding: 20px 0px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    background-image: linear-gradient(to right, #82AE98 0%, #82AE98 50%, #f0f0f0cc 50%, #f0f0f0cc 100%);
    background-size: 200% 100%;
    background-position: right;
    transition: background-position 0.8s ease;
    text-decoration: none;
    color: black;
    margin-bottom: 30px;
}

.btt2:hover{
    background-position: left;
    color: white;
}
h5{
    color: #004125;
    font-family: 'Gotham', serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 15px;
    letter-spacing: normal;
}
.promo{
    color: #000;
    font-size: 14px;
    line-height: 1.43;
    margin: 8px auto 40px;
    padding: 0 16px;
    max-width: 244px;
    text-align: center;
}
.btt3{
    width: 100px;
    padding: 20px 20px;
    text-align: center;
    border: 1px solid #661F89;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #661F89;
    transition: transform 0.3s ease;
}
.btt33 {
    display: inline-block; 
    transition: transform 0.3s ease; 
}

.btt33:hover {
    transform: translateY(-5px); 
}

.immg{
    width: 1280px;
    height: 50px;
    background-image: url(../assets/images/M_Retail_Placeholder-Line_Balls_1440x60px_1.png);
    background-position: center;
    background-size: 100%;
}
.imgbg{
    background-image: url(../assets/images/Wimbledon_Whites.jpg);
    background-size: cover;
    width: 853px;
    height: 300px;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 125px;
    margin-bottom: 100px;
    flex-wrap: wrap;
}
.w426{
    width: 426px;
}
h1{
    font-size: 28px;
    margin-top: 0px;
    margin-bottom: 50px;
}
.fs16{
    font-size:16px;
    margin-top: 30px;
    padding-right: 20px;
    margin-bottom: 80px;
    line-height: 1.5;
    font-weight:lighter;
}
.h52{
    color: #004125;
    font-family: 'Gotham', serif;
    font-weight: 400;
    line-height: 32px;
    font-size: 15px;
    letter-spacing: normal;
    margin-bottom: 0px;
}
.none{
    text-decoration: none;
    letter-spacing: .05em;
    line-height: 1.43;
}

.notice{
    background: linear-gradient(86.34deg,#063 6.06%,#004125 91.34999999999999%);
    color: white;
    text-align: center;
}
.diffont{
    font-family: Bressay ;
    text-transform: none;
    font-style: italic;
    padding-right: 2px;

}
.w800px{
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 40px;
}
.txt14{
    font-size: 14px;
    line-height: 1.43;
    display: flex;
    justify-content: center;
}
.btt4{
    padding: 12px 35px;
    text-align: center;
    border: 1px solid #ffffff;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    transition: transform 0.3s ease;
}
.btt44 {
    margin-top: 35px;
    display: inline-block; 
    transition: transform 0.3s ease; 
}
.btt44:hover {
    transform: translateY(-5px); 
}
.footer__links{
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Gotham Bold', sans-serif;
    font-weight: 500;
    letter-spacing: .7px;
    padding-top: 3px;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none none;
}
.li{
    display: inline-flex;
    padding: 0 12px;
}
.lia{
    color: #54007c;
    text-decoration: none;
    font-weight: bold;
}
.copyright{
    margin: 0 auto;
    padding-bottom: 16px;
    text-align: center;
    color: #390063;
    font-weight: 300;
    font-size: 9px;
    display: flex;
    justify-content: center;
}
.footer_flx{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
    align-items: center;
}
.xddd{
    font-size: 25px;
    padding-left: 2px;
    padding-right: 2px;
}
.ddd{
    display: flex;
    gap: 10px;
    justify-content: center;
}
.carr{
    background-image: url(../assets/images/low_resolution.jpg);
    min-width: 300px;
    height: 300px;
    background-size: cover;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.carr:nth-child(1){
    background-image: url(../assets/images/low_resolution\ \(1\).jpg);
}
.carr:nth-child(2){
    background-image: url(../assets/images/low_resolution\ \(2\).jpg);
}
.carr:nth-child(3){
    background-image: url(../assets/images/low_resolution\ \(3\).jpg);
}
.carr:nth-child(4){
    background-image: url(../assets/images/low_resolution\ \(4\).jpg);
}
.carr:nth-child(5){
    background-image: url(../assets/images/low_resolution\ \(5\).jpg);
}
.carr:nth-child(6){
    background-image: url(../assets/images/low_resolution\ \(6\).jpg);
}
.carr::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8); 
    opacity: 0; 
}

.carr:hover::before {
    opacity: 1;
}

.hid {
    font-size: 50px;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carr:hover .hid {
    visibility: visible;
}