@font-face {
    font-family: Gotham;
    src: url(../assets/fonts/Gotham-Book.otf);
}

body,
html {
    font-family: Gotham;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    display: flex;
    height: 100%;
    overflow: hidden;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

.columna-izquierda {
    width: 20%;
    background-color: white;
    overflow-y: scroll;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-left: 1px solid gray;
}

.columna-izquierda::-webkit-scrollbar {
    display: none;  
}

.columna-derecha {
    width: 80%;
    background-color: #fff;
    overflow-y: scroll;
    position: relative;
}

.columna-derecha::-webkit-scrollbar {
    display: none;
}

.header {
    display: flex;
    position: fixed;
    width: 80%;
    top: 0;
    z-index: 40;
    justify-content: space-between;
    height: 15%;
    align-items: center;
}

.iimg {
    width: 70px;
    height: 70px;
    padding-left: 130px;
}
.test{
    display: flex;

}
.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Gotham 7r", Helvetica, Arial, sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;

}
.menu_ico{
    font-size: 30px;
}
.login{
    display: flex;
    gap: 8px;
    align-items: center;

}
.login_txt{
    font-size: 17px;
    letter-spacing: .7px;
    font-weight: normal;
    color: white;
    text-decoration: none;
}
.login_txt:hover{
    border-bottom: 1px solid white;
}
.login_bar{
    font-size: 25px;
    color: white;
}
.carrusel {
    background-image: url(../assets/images/b_559067.jpg);
    background-color: #00703C;
    background-size: cover;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    transition: background-image 1s ease-in-out;
}

.aaaa {
    background-color: white;
    position: sticky;
    z-index: 30;
    max-height: 84%;
    overflow-y: auto;
}

.zsd {
    position: relative;
    top: -108px;
    z-index: 1;
    width: 100%;
}

.aaaa::-webkit-scrollbar {
    display: none;
}

.xd {
    display: flex;
    position: relative;
    top: 153px;
    justify-content:space-between;
    padding:10px 40px;
}
.dertext{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-align: right;
}
.dertext_p{
    margin: 0px 0px;
    padding-right: 10px;
}
.box2 {
    display: flex;
    flex-direction: row;
    width: 240px;
    box-sizing: border-box;
    border: 2px solid white;
    padding: 5px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.233);
}
.boximg{
    width: 112px;
    height: 72px;
}
.pxx{
    padding: 0px 5px;
    font-size: 12px;
    color: white;
}
.pxxx{
    padding: 0px 5px;
    font-size: 10px;
    color: white;
    font-weight: bold;
}
.pxx2{
    font-weight: normal;
    font-size: 9px;
}
.pxx:hover{
    border-bottom: 1px solid white;
}
.hidden{
    visibility: hidden;
}
.box3 {
    display: flex;
    background-color: #00703cc2;
    border-radius: 10px;
    width: 230px;
    gap: 5px;
    align-items: center;
    padding: 5px;
}

.shop-header {
    text-align: center;
    text-transform: uppercase;
    font-family: "Gotham 5r", Helvetica, Arial, sans-serif;
    font-size: 20px;
    letter-spacing: .5px;
    color: #4e2683;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.shop-header-stripe {
    width: 30px;
    height: 2px;
    border-style: none;
    background-color: #4e2683;
    margin: 5px auto 10px auto;
}

.price {
    color: #4e2683;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}
.arrow{
    font-size: 40px;
    color: rgb(122, 122, 122);
    cursor: pointer;
}
.arrow:hover{
    color: rgb(165, 164, 164);
}

.cards {
    margin: 0 auto;
    width: 1130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #00703C;
    margin-bottom: 20px;
    gap: 30px;
}

.card {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 175px;
    color: #4e2683;
    font-size: 13px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: box-shadow 0.5s ease;
    margin-bottom: 10px;
}
.card:hover{
    box-shadow: 0px 0px 3px 1px #00703C;

}
.card_title{
    color: #4e2683;
    font-size: 13px;
    text-align: center;
    font-weight: bold;
}

.card>img {
    width: 140px;
    height: 140px;
}

.date-text {
    display: flex;
    justify-content: center;
    background: #fff;
    color: #00703c;
    font-size: 24px;
    padding: 0 10px;
    letter-spacing: 1.5px;
}

.aass {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px;
    cursor: pointer;
}

.aasss {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0px;
    cursor: pointer;
}

.aass_text{
    width: 400px;
    padding-right: 50px;
}
.aass_text--2{
    width: 400px;
    padding-left: 50px;
}
.day{
    font-size: 12px;
    letter-spacing: .5px;
    color: #00703C;
    font-weight: bold;
}
.hour{
    font-size: 11px;
    letter-spacing: .5px;
    font-weight: normal;
    color: #00703C;
}
.titl3{
    font-size: 30px;
    letter-spacing: .5px;
    font-weight: bolder;
    color: #54008B;
    margin: 5px 0px 20px 0px;
}
.desc{
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: lighter;
    color: grey;
}
.ico{
    color: #00703C;
    font-size: 35px;
    padding-bottom: 5px;
    padding-left: 5px;
}
.aaaaa {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background-color: white;
}
.aaaaa_so{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 40px 20px 20px 20px;
    border-bottom: 1px solid white;

}
.aaaaa_text{
    color: #00703C;
    width: 100px;
}
.aaaaa_ico{
    font-size: 30px;
    font-weight: lighter;
}
.asddd{
    margin: 0px;
    padding-top: 5px;
    font-weight: bold;
}
.aaaaa_so:hover{
    border-bottom: 1px solid #00703C;
}
.title_date{
    font-size: 24px;
    letter-spacing: .5px;
    font-weight: bold;
    color: #00703C;
}
hr{
    width: 10%;
    height: 2px;
    background-color: #00703C;
    border-radius: 10px;
}
.ima {
    background-image: url(../assets/images/b_2024poster.jpg);
    background-size: 100%;
    width: 530px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.8s ease;
}
.ima:hover{
    background-size: 120%;
}

.ima2{
    background-image: url(../assets/images/b_2024hill.jpg);
    background-size: 100%;
    width: 530px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.8s ease;

}
.ima2:hover{
    background-size: 120%;
}
.ima3{
    background-image: url(../assets/images/b_20230717_gentschamp_TL303875-324672_3712.jpg);
    background-size: 100%;
    width: 530px;
    height: 350px;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.8s ease;

}
.ima3:hover{
    background-size: 120%;
}

.asd {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.ci-card {
    margin: 30px 40px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: end;
    cursor: pointer;
}

.type-tag {
    color: #fff;
    text-transform: uppercase;
    background: #00703c;
    height: 15px;
    line-height: 15px;
    font-size: 10px;
    padding: 0 10px;
    text-align: center;
    right: -193px;
    top: 10px;
    z-index: 5;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    width: 40px;
}







.login-form,
.message-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.login-form h2,
.message-form h2 {
    text-align: center;
}

.login-form .input-group,
.message-form .input-group {
    margin-bottom: 15px;
}

.login-form .input-group label,
.message-form .input-group label {
    display: block;
    margin-bottom: 5px;
}

.login-form .input-group input,
.message-form .input-group input,
.login-form .input-group textarea,
.message-form .input-group textarea,
.login-form .input-group select,
.message-form .input-group select {
    width: 100%;
    padding: 8px 0px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.login-form .input-group input[type="color"],
.message-form .input-group input[type="color"] {
    padding: 0;
}

.login-form .input-group label,
.message-form .input-group label {
    display: block;
}

.login-form .input-group input[type="checkbox"],
.message-form .input-group input[type="checkbox"],
.login-form .input-group input[type="radio"],
.message-form .input-group input[type="radio"] {
    display: inline;
    margin-right: 5px;
}

.login-form button,
.message-form button {
    width: 100%;
    padding: 10px;
    background-color: #00703c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-form button:hover,
.message-form button:hover {
    background-color: #00703c;
}

.calendar {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #00703c;
    color: #fff;
    padding: 10px;
    text-align: center;
}

td {
    padding: 10px;
    text-align: center;
}

thead th:first-child,
tbody td:first-child {
    border-left: 2px solid #00703c;
}

thead th:last-child,
tbody td:last-child {
    border-right: 2px solid #00703c;
}

tbody td {
    border-bottom: 1px solid #ccc;
}

tbody td:last-child {
    border-bottom: none;
}

tbody td:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody td:hover {
    background-color: #e0e0e0;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    border-top: 1px solid black;
}
a{
    text-decoration: none;
}
ul{
    margin: 0px;
    padding: 0px;
}
li {
    display: inline-block;
    font-family: "gotham_bookregular", Helvetica, Arial, sans-serif;
    font-size: 12px;
    letter-spacing: .5px;
    font-weight: normal;
    margin: 0;
    list-style: none none;
    padding-right: 5px;
}
li:nth-last-child(){
    padding: 0px;
}
small{
    font-size: 10px;
}
.socials{
    font-size: 23px;
}
.socials_social{
    color: black;
    padding-right: 20px;
}
.socials_social:nth-last-child(){
    padding: 0px;
}
.padtop{
    padding-top: 5px;
}
.pder{
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: bolder;
    color: #54008B;
    margin: 5px 0px 0px 0px;
}
.hrr{
    background-color: #54008b;
    margin: 10px 0 15px;
    transition: width 0.5s ease;
    height: 2px;
}
.titl3:hover + .hrr{
    width: 25%;
}
.pder:hover + .hrr{
    width: 25%;
}